<mat-card class="register-container">
  <mat-card-header>
    <mat-card-title>Register</mat-card-title>
  </mat-card-header>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>First Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="First Name"
          name="firstName"
          formControlName="firstName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Last Name</mat-label>
        <input
          type="text"
          matInput
          placeholder="Last Name"
          name="lastName"
          formControlName="lastName"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          type="text"
          matInput
          placeholder="Email"
          name="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Confirm Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Confirm your password"
          name="confirmPassword"
          formControlName="confirmPassword"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          type="submit"
          mat-stroked-button
          color="primary"
          [disabled]="!userForm.valid"
        >
          Sign up
        </button>
      </mat-card-actions>
      <div class="login-footer">
        <button type="button" mat-flat-button routerLink="/login">
          Already registered? Sign in
        </button>
        <div>Copyright © 2023</div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
