<mat-card *ngFor="let flashcard of flashcards">
  <mat-card-header>
    <mat-card-title>{{ flashcard.question }}</mat-card-title>
  </mat-card-header>
  <mat-card-content>{{ flashcard.answer }}</mat-card-content>
  <mat-card-actions>
    <!-- UPDATE -->
    <button
      mat-button
      (click)="check.emit(flashcard); $event.stopImmediatePropagation()"
      *ngIf="flashcard.status === 'not reviewed'; else elseStatusBlock"
    >
      {{ flashcard.status }}
    </button>
    <ng-template #elseStatusBlock>
      <button
        mat-button
        (click)="check.emit(flashcard); $event.stopImmediatePropagation()"
      >
        <mat-icon>check</mat-icon> {{ flashcard.status }}
      </button>
    </ng-template>
    <button
      mat-button
      (click)="like.emit(flashcard); $event.stopImmediatePropagation()"
      *ngIf="flashcard.favorite; else elseLikeBlock"
    >
      <mat-icon class="like">favorite</mat-icon>
    </button>
    <ng-template #elseLikeBlock
      ><button
        mat-button
        (click)="like.emit(flashcard); $event.stopImmediatePropagation()"
      >
        <mat-icon class="unlike">favorite_outline</mat-icon>
      </button></ng-template
    >

    <button
      mat-button
      (click)="delete.emit(flashcard._id); $event.stopImmediatePropagation()"
      color="warn"
    >
      <mat-icon>delete</mat-icon>
    </button>
    <button mat-button>{{ flashcard.createdAt | date }}</button>
  </mat-card-actions>
</mat-card>
