<mat-card>
  <mat-card-header>
    <mat-card-title>Sign in</mat-card-title>
  </mat-card-header>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <mat-form-field>
        <mat-label>Email Address</mat-label>
        <input
          type="text"
          matInput
          placeholder="Email"
          name="email"
          formControlName="email"
          required
        />
      </mat-form-field>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input
          type="password"
          matInput
          placeholder="Password"
          name="password"
          formControlName="password"
          required
        />
      </mat-form-field>
      <mat-card-actions>
        <button
          type="submit"
          mat-stroked-button
          color="primary"
          [disabled]="!userForm.valid"
        >
          Sign in
        </button>
      </mat-card-actions>
      <div class="login-footer">
        <button type="button" mat-flat-button routerLink="/signup">
          Don&apos;t have an account? Sign up
        </button>
        <div>Copyright © 2023</div>
      </div>
    </mat-card-content>
  </form>
</mat-card>
